# General
.cache

# Python
__pycache__/
*.so
dist/
*.egg-info/
.venv/

# Sphinx documentation
docs/_build/

# Lefthook
.lefthook-local.yml

# clangd
compile_commands.json
compile_flags.txt

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
